{% extends 'base.html.twig' %}
{% form_theme form 'form/theme.html.twig' %}

{% block title %}Administration des projets{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl mx-auto text-center">
            <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
                <div class="max-w-md mx-auto">
                    <div>
                        <h1 class="text-2xl font-semibold">Ajouter une nouvelle compétence</h1>
                    </div>
                    <div class="divide-y divide-gray-200">
                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="mt-4 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Ajouter
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!-- Section Liste des Tags -->
                    <h2 class="text-2xl font-semibold mt-10">Liste des compétences</h2>
                    <div class="mt-6">
                        <!-- Ici, intégrer la liste des tags existants -->
                        <ul class="space-y-3">
                            {% for skill in skills %}
                                <li class="flex justify-between items-center bg-gray-100 rounded-lg px-6 py-2">
                                    <span>{{ skill.name|upper }}</span>
                                    <a href="{{ path('skill_delete', {'id': skill.id}) }}" class="text-sm font-medium text-blue-600 hover:text-blue-500 cursor-pointer">Supprimer</a> <!-- Ajouter le lien de modification -->
                                </li>
                            {% else %}
                                <li>Aucune compétence trouvé.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
