<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Antonin Pamart{% endblock %}</title>
        <link rel="icon" href="{{ asset('media/tntLogo.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {{ component('_header') }}

        {% block body %}{% endblock %}
    {{ component('_footer') }}
    </body>
</html>
