<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Antonin Pamart{% endblock %}</title>
        <link rel="icon" href="{{ asset('media/tntLogo.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-gray-900">
    {{ component('_header') }}
    {% for message in app.flashes('success') %}
        <div data-controller="flash" class="alert alert-success fixed top-5 right-5 bg-green-500 text-white text-sm py-2 px-4 rounded-lg shadow-md transition-opacity" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div data-controller="flash" class="alert alert-success fixed top-5 right-5 bg-red-500 text-white text-sm py-2 px-4 rounded-lg shadow-md transition-opacity" role="alert">
            {{ message }}
        </div>
    {% endfor %}

        {% block body %}{% endblock %}
    {{ component('_footer') }}
    </body>
</html>
