<header class="bg-gray-800 fixed bg-opacity-50 w-full z-50">
    <div class="container mx-auto px-4 py-5">
        <div class="flex items-center justify-between">
            <div class="flex-shrink-0">
                <a href="{{ path('homepage') }}" class="text-white text-2xl font-bold "><img src="{{ asset('media/tntLogo.svg') }}" alt="" class="hover:scale-110 active:scale-90 transition-all ease-in-out"></a>
            </div>

            <nav class="md:flex space-x-10">
                <a href="{{ path('homepage') }}" class="text-gray-300 hover:text-white {% if app.request.get('_route') == 'homepage' %}current{% endif %}">Accueil</a>
                <a href="{{ path('project') }}" class="text-gray-300 hover:text-white {% if app.request.get('_route') == 'project' %}current{% endif %}">Projets</a>
                <a href="{{ path('about') }}" class="text-gray-300 hover:text-white {% if app.request.get('_route') == 'about' %}current{% endif %}">Plus d'infos</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="text-gray-300 hover:text-white {% if app.request.get('_route') == 'admin' %}current{% endif %}" href="{{ path('admin') }}">Admin</a>
                {% endif %}

            </nav>
            <div class="flex items-center rounded-full bg-gray-900 hover:bg-white group transition-all {% if app.request.get('_route') == 'search' %}bg-white{% endif %}">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="btn-primary" href="{{ path('logout') }}">Logout</a>
                {% endif %}
                <a href="{{ path('search') }}" class="p-2 flex items-center justify-center text-lg text-white group-hover:text-black group-hover:scale-110 transform transition-all {% if app.request.get('_route') == 'search' %}text-black{% endif %}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        </div>
    </div>
</header>